*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

.login-container{
    width:100%;
    min-height:100vh;
    display:flex;
    background:linear-gradient(135deg,#111827,#1F2937,#FF6B35);
}

.login-left{
    width:50%;
    display:flex;
    flex-direction:column;
    justify-content:center;
    padding:80px;
    color:white;
}

.login-left h1{
    font-size:70px;
    color:#FFD166;
    margin-bottom:20px;
}

.login-left h2{
    font-size:45px;
    margin-bottom:20px;
}

.login-left p{
    font-size:20px;
    line-height:35px;
    max-width:500px;
}

.login-right{
    width:50%;
    display:flex;
    justify-content:center;
    align-items:center;
}

.login-card{
    width:430px;
    background:rgba(255,255,255,0.12);
    backdrop-filter:blur(18px);
    border:1px solid rgba(255,255,255,.2);
    border-radius:20px;
    padding:40px;
    color:white;
}

.login-card h2{
    text-align:center;
    margin-bottom:30px;
    font-size:35px;
}

.input-box{
    display:flex;
    align-items:center;
    background:white;
    border-radius:12px;
    margin-bottom:20px;
    padding:0 15px;
}

.input-box svg{
    color:#FF6B35;
    font-size:18px;
}

.input-box input{
    width:100%;
    border:none;
    outline:none;
    padding:16px;
    font-size:16px;
    background:transparent;
}

.login-options{
    display:flex;
    justify-content:space-between;
    margin-bottom:25px;
    font-size:14px;
}

.login-options a{
    color:#FFD166;
    text-decoration:none;
}

.login-btn{
    width:100%;
    padding:15px;
    border:none;
    border-radius:12px;
    background:#FF6B35;
    color:white;
    font-size:18px;
    font-weight:bold;
    cursor:pointer;
    transition:.3s;
}

.login-btn:hover{
    background:#ff814f;
}

.google-btn{
    width:100%;
    margin-top:20px;
    padding:15px;
    border:none;
    border-radius:12px;
    background:white;
    color:#333;
    font-size:16px;
    cursor:pointer;
    display:flex;
    justify-content:center;
    align-items:center;
    gap:10px;
}

.register-text{
    text-align:center;
    margin-top:25px;
}

.register-text span{
    color:#FFD166;
    cursor:pointer;
    font-weight:bold;
}

@media(max-width:768px){

.login-container{
    flex-direction:column;
}

.login-left,
.login-right{
    width:100%;
}

.login-left{
    text-align:center;
    padding:40px 20px;
}

.login-left h1{
    font-size:50px;
}

.login-left h2{
    font-size:32px;
}

.login-left p{
    max-width:100%;
}

.login-card{
    width:90%;
    margin-bottom:40px;
}

}